@import '../../../styles/variables.scss';

.bv-onboarding {
  $self: &;

  display: flex;
  gap: 8px;
  align-items: center;
  user-select: none;

  &__avatar {
    height: 44px;
    aspect-ratio: 1/1;
  }

  &__text {
    #{$self}__title {
      font-size: 18px;
      font-family: $pp-bold;
      color: $sky-700;
      line-height: 24px;
    }

    #{$self}__description {
      font-size: 14px;
      color: $neutral-800;
      font-family: $pp-semibold;
    }
  }
}
