@import '../../../styles/variables.scss';

.bv-progress-bar {
  background: transparent;
  background: $sky-300;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border: none;
  border-radius: 24px;
  height: 10px;

  &::-webkit-progress-bar {
    background: $sky-300;
    border-radius: 24px;
    height: 10px;
  }

  &::-webkit-progress-value {
    background: $sky-800;
    border-radius: 24px;
    transition: width .3s;
  }

  &::-moz-progress-bar {
    border-radius: 24px;
    transition: width .3s;
  }
}