@import '../../../styles/variables.scss';

.bv-card-cta {
  padding: 24px 20px;
  border: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0px 3px 6px $shadow-color;
  border-radius: 24px;
  position: fixed;
  user-select: none;

  &__img {
    height: 100px;
  }

  &__label{
    font-size: 20px;
    width: 110px;
    font-family: $pp-semibold;
    text-align: left;
  }

  &--left {
    padding-right: 40px;
    right: -24px;
  }

  &--right {
    padding-left: 40px;
    left: -24px;
    flex-direction: row-reverse;
  }

  &--color-blue {
    background: $sky-700;
    color: $neutral-000;
  }

  &--color-star {
    background: $star-700;
    color: $neutral-800;
  }
}