@import '../../../styles/variables.scss';

$layout-components-height: ($header-height);
$spacing: 16px;

.bv-translating {
  $self: &;

  height: calc(var(--app-height) - $layout-components-height);
  padding: 0 $spacing;

  &__progress {
    margin-top: 24px;
  }

  &__description {
    margin-top: 16px;
    font-size: 16px;
    color: $neutral-800;
    font-family: $pp-semibold;
    height: fit-content;
  }

  &__slider-wrapper {
    height: 100%;
    padding-bottom: 200px;
    padding-top: 56px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: [slider] 1fr;
    position: relative;

    #{$self}__slider {
      grid-row: slider / slider;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__button-wrapper {
    position: fixed;
    bottom: 36px;
    width: 100%;
    margin-left: -$spacing;
    display: flex;
    justify-content: center;
  }
}