/* Fontfaces */
@mixin fontface($name) {
  $path: '../assets/fonts/'+ $name+ '/'+ $name;

  @font-face {
    font-family: '#{$name}';
    src: url($path + '.eot');
    src: url($path + '.eot?#iefix') format('embedded-opentype'), url($path + '.woff') format('woff'), url($path + '.ttf') format('truetype'), url($path + '.svg#'+ $name) format('svg');
    font-weight: normal;
    font-style: normal;
  }
}