//Colors
$fire-200: #FCD7D7;
$fire-300: #FCBCBB;
$fire-700: #FD5E5D;

$star-700: #FFBF33;

$neutral-000: #FFFFFF;
$neutral-400: #D0CACA;
$neutral-600: #5F5D5D;

$sky-700: #12A5DD;
$sky-800: #0093CB;

$shadow-color: #00000029;

//Fonts
$pp-bold: "Poppins-Bold";
$pp-regular: "Poppins-Regular";
$pp-semibold: "Poppins-SemiBold";
