//Colors
$fire-200: #FCD7D7;
$fire-300: #FCBCBB;
$fire-700: #FD5E5D;

$star-700: #FFBF33;

$neutral-000: #FFFFFF;
$neutral-400: #D0CACA;
$neutral-600: #5F5D5D;

$blue-700: #12A5DD;
$blue-800: #0093CB;