//Colors
$fire-200: #FCD7D7;
$fire-300: #FCBCBB;
$fire-700: #FD5E5D;

$star-100: #FDEECD;
$star-700: #FFBF33;

$neutral-000: #FFFFFF;
$neutral-400: #D0CACA;
$neutral-600: #5F5D5D;
$neutral-800: #242424;

$sky-200: #D8F2FC;
$sky-300: #C0EBFC;
$sky-700: #12A5DD;
$sky-800: #0093CB;

$success-400: #A8F6C8;
$success-900: #028965;

$fire-100: #FDE3E3;
$fire-800: #EB2726;

$shadow-color: #00000029;

//Fonts
$pp-bold: "Poppins-Bold";
$pp-regular: "Poppins-Regular";
$pp-semibold: "Poppins-SemiBold";

//Sizes
$header-height: 56px;
$onboarding-height: 60px;
$nav-bar-height: 50px;
