@import '../../../styles/variables.scss';

.bv-nav-item {
  height: 24px;
  width: 24px;
  background: none;
  border: 0;
  border-radius: 50%;
  color: $sky-800;

  svg {
    pointer-events: none;
  }
}